*build*
*.pyc
*~
.DS_Store
.ipynb_checkpoints
.sass-cache
.jekyll-cache/
__pycache__
_site
.Rproj.user
.Rhistory
.RData
.ruby-version
code/00-intro/CMakeLists.txt
code/01-simple/CMakeLists.txt
.bundle/
.vendor/
.docker-vendor/
Gemfile.lock
.*history
