<blockquote class="callout">
  <h2 style="">The HSF Training Curriculum</h2>
  <div style="width: 100px; position: absolute;">
    <a href="https://hepsoftwarefoundation.org">
      <img src="./{{ relative_root_path }}/assets/img/hsf-logo.png" alt="HSF Logo" height=75px style="margin: 0px;"/>
    </a>
  </div>
  <div style="margin-left: 115px; position: relative; min-height: 75px">
    This training module is part of the
    <a href="https://hepsoftwarefoundation.org/training/curriculum.html">Training Curriculum</a>, a
    series of training modules that serves HEP newcomers the
    software skills needed as they enter the field,
    and in parallel, instill best practices for writing software.
  </div>
</blockquote>
